.tela-inicial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.botao {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  width: 200px; /* Defina o tamanho desejado */
  height: 200px; /* Defina o tamanho desejado */
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}

.botao:hover {
  background-color: #0056b3;
}
