.containerLista {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e0e0e0;
  background-size: cover;
}

.lista-avarias {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
}

.titulo {
  font-size: 28px;
  margin-bottom: 30px;
}

.avarias-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avaria-item {
  padding: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  max-width: 900px;
  width: 100%;
  transition: background-color 0.3s;
  border-radius: 10px;
  background-color: #00d60080;
  text-align: left;
}

.avaria-item:hover {
  background-color: #f0f0f0;
}

.pendente {
  background-color: #ff000081;
}

.resolvido {
  background-color: #00d60080;
}

.avaria-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.avaria-card-details {
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #ccc;
  padding: 30px;
  min-width: 40%;
  max-width: 40%;
  max-height: 80%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: left;
  border-radius: 10px;
  position: relative;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #555;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.close:hover {
  transform: scale(1.1);
}

.titulo-detalhes {
  font-size: 20px;
  margin-bottom: 20px;
}

.detalhes {
  font-size: 16px;
}

.detalhe-item {
  margin-bottom: 10px;
}

.detalhe-label {
  font-weight: bold;
  margin-right: 5px;
  color: #555;
}

.avaria-detalhes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.avaria-item .titulo {
  font-weight: bold;
  margin-bottom: 5px;
}

.avaria-item .dados {
  font-weight: normal;
}

.containerForms {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../../resources/images/img.jpeg");
  background-size: cover;
}

.successMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6dce70;
  color: #fff;
  border-radius: 5px;
  padding: 25px;
  font-size: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 330px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.successMessage span {
  margin-bottom: 30px;
}

.successMessage button {
  background-color: #fff;
  color: #4caf50;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.logo-form {
  background-size: cover;
  width: 100%;
  max-width: 12em;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  background-color: #f0f0f0d2;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 680px;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form__label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.select {
  background-color: white;
  color: black;
}

.form__input {
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.form__input:focus {
  outline: none;
  border-bottom: 2px solid #0f39ac;
}

.form__button {
  width: 100%;
  padding: 0.5rem;
  background-color: #0f39ac;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form__ver {
  width: 100%;
  padding: 0.5rem;
  background-color: #3fc71d;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}

.form__button:hover {
  background-color: #3c65d8;
}

.form__ver:hover {
  background-color: #7ae43c;
}

.form__ver1 {
  width: 100%;
  padding: 0.5rem;
  background-color: #ff4500;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
  margin-bottom: 25px;
}

.form__ver1:hover {
  background-color: #ff8c00;
}

@media only screen and (max-width: 768px) {
  .successMessage {
    font-size: 1rem;
    padding: 15px;
    width: 80%;
  }

  .successMessage span {
    margin-bottom: 15px;
  }

  .successMessage button {
    padding: 8px 15px;
    font-size: 0.8rem;
  }

  .containerForms,
  .form {
    width: 100%;
  }

  .form {
    padding: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .form__button,
  .form__ver .form__ver1 {
    width: 100%;
  }
}
